{% extends 'base.html.twig' %}

{% block title %}Page d'acueil
{% endblock %}
{% block monTitle %}

	Afichage d'un aminal
	{{listAnimaux.nom}}


{% endblock %}

{% block body %}
	<div class="row align-items-center">
		<div class="col-2 text-center">
			<img src="{{asset('images/' ~ listAnimaux.image)}}">

		</div>
	</div><br>
	<div class="row align-items-center">
		<div class="col-2 text-center">
			<h2>{{listAnimaux.nom}}</h2>


		</div>
	</div>
</div><br>
<div class="row align-items-center">
	<div class="col-2 text-center">
		<h3>
			Description :
			{{listAnimaux.description}}</h3>

		<h3>
			poids :
			{{listAnimaux.poids}}</h3>

		<h3>
			Dangereux :
			{% if listAnimaux.dengereux %}
				<span class="badge badge-danger">OUI</span>
			{% else %}
				<span class="badge badge-success">OUI</span>


			{% endif %}


		</h3>
		<div>
			<a href="{{ path('aficher_familles',{'id': listAnimaux.famille.id}) }}" class="btn btn-primary">{{listAnimaux.famille.libelle}}</a>


		</div>

	</div>
</div>{% endblock %}
