{% extends 'base.html.twig' %}

{% block title %}Animal
{% endblock %}
{% block monTitle %}Liste des Animeaux
{% endblock %}

{% block body %}


	{% for listAnimau in listAnimaux %}


		<div class="row align-item-center">
			<div class="col-2 text-center">
				<img src="{{asset('images/' ~ listAnimau.image)}}">

			</div>
			<div class="col-auto">
				<h2>
					<a href="{{ path('aficherAnimal', {'id' : listAnimau.id }) }}">


						{{ listAnimau.nom }}

					</a>
				</h2>
				<h3>{{ listAnimau.description }}</h3>

				<div>
					<a href="{{ path('aficher_familles',{'id': listAnimau.famille.id}) }}" class="btn btn-primary">{{listAnimau.famille.libelle}}</a>


				</div>

			</div>

		</div>
	{% endfor %}
{% endblock %}
