{% extends 'base.html.twig' %}

{% block title %}Personnes
{% endblock %}


{% block monTitle %}Page listant les Personnes

{% endblock %}

{% block body %}
	<div class="container">
		{% for personne in personnes %}

			<h2 class="border-bottom border-primary">
				<a href="{{path('afficherPersonne', {'id' : personne.id})}} ">{{personne.nom}}</a>

			</h2>
			<h3>Liste des animaux possèdés :
			</h3>
			<br>
			{% for dispose in personne.disposes %}

				<div class="row align-items-center">
					<div class="col-2">
						<img src="{{asset('images/' ~ dispose.animal.image)}}">
					</div>
					<br>

					<div class="col">
						<h2>
							<a href="{{path('aficherAnimal', {'id' : dispose.animal.id} )}} ">{{dispose.animal.nom}}</a>

						</h2>
						<div class="btn btn-info">Nombre :
							{{dispose.nb}}</div>
					</div>
				</div>


			{% endfor %}


		{% endfor %}

	</div>


{% endblock %}
